<h1>To do List Items</h1>

<h2> Todo Items:</h2>
<% @todos.each do |t| %>
    <p>
      <strong> <%= t.title %> </strong>
      <small> <%= link_to "Make to done", todo_path(t), :method => :put %> </small>
    </p>
<% end %>

<h2> Done</h2>
<% @todoDone.each do |t| %>
    <p>
      <%= t.title %>
      <small><%= link_to "Remove", t, :confirm => "Are you sure?", :method => :delete %></small>

    </p>
<% end %>

<p> <%= link_to "Add new task", new_todo_path %></p>